h1{
  display: inline-block;
  border: 5px double blueviolet;
  padding: 10px 20px;
  font-family: Garamond, "Verdana", monospace;
  color: #555;
}

.red {
  background-color: #F092E8;
}
.blue {
  background-color: #92F0E2;
}
.green {
  background-color: #ADF092;
}

div:not(#div-wrapper) {
  height: 60px;
  width: 60px;
  margin: 4px;
  border: 2px solid black;
  border-radius: 4px;
  display: inline-block; 
  cursor: pointer;
}
